<section id="about" class="flex">
    <div>
        <p id="about-name">
            Hello, My Name Is <span ><strong id="name" style="color: #efef2a;">Joe Woodcock</strong> </span>
        </p>
        <p id="about-description">
            I am a software engineer specialising in frontend development.
            <br>
            I enjoy tackling problems, and collaborating to create responsive applications and provide a positive user experience.
            <br>
            I am currently focused on building intuitive applications at Cordic.
        </p>
    </div>

    <button class="btn btn-primary">
        <a href="/assets/cv/Joe-Woodcock-CV.pdf" download>Download my CV</a>
    </button>
</section>
