section {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding:  0 10%
}

#about-name {
    font-size: 1.5rem;
}

#name {
    font-size: 2.5rem;
}

a:hover {
    text-decoration: none;
    color: #efef2a;
}

.icon-figure {
    width: 80px;
}

figcaption {
    font-size: 18px;
    text-align: center;
}

#tech-proficiencies-container {
    width: 100%;
}

#tech-prof-icons-container {
    display: flex;
    justify-content: space-between;
}