<header id="header">
    <div class="flex flex-gap-20">
        <fa-icon [icon]="faGlobe" [size]="'2xl'" [styles]="{color: '#efef2a' }" id="webpage-icon"></fa-icon>
        <h1 style="color: #efef2a;">JW</h1>
    </div>

    <div class="flex">
        <nav class="flex flex-gap-20" id="nav-links">
            <a  routerLink="/" routerLinkActive="active">About</a>
            <a routerLink="/projects" routerLinkActive="active">Projects</a>
            <a href="#">Contact</a>
        </nav>
    </div>
</header>
