#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#contact-form-card {
  border: 3px solid var(--secondary-color);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 8px 10px 11px 1px rgba(239, 239, 42, 0.6);
}

#form-btns {
  display: flex;
  justify-content: space-around;
}
