/* You can add global styles to this file, and also import other style files */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-gap-20 {
    gap: 20px;
}

* {
    color: #cd9a32;
    font-size: 25px;
}